@charset "utf-8";
/* CSS Document */

body  {
font-family:'georgia';
}

.content {
width: 770px;
margin-left:220px;
height: auto;
vertical-align: top; 
display: block;
vertical-align: top;
float: inherit;
}

#title {
font-size: 22px;
}

/*BEGIN navigation CSS*/
/*navigation CSS*/
.navigation {
float: left;
width: 200px;
height: 100%;
position: absolute;
border-top: 2px solid black;
margin-top: 50px;
background:#CCCCCC;
padding-top: 100px;
}

.navigation ul {
padding-left: 0;
list-style-type: none;
text-align: left;
margin-top: 30px;
}

.navigation a {
display: block;
padding: 7px 0 7px 0;
font-size: 14px;
letter-spacing: 2px;
text-transform: uppercase;
}

.navigation a:link , .navigation a:visited{
text-decoration: none;
color: black;
}

.navigation a:hover {
color: gray;
}


#list a:link#current, #list a:visited#current{
color: blue;
text-align:left;
}

.navigationitem
{
	border-bottom:thin white;
	border-collapse:collapse;
	border-bottom-style: solid;
}

.navigationitem li
{
	list-style-type:none;
	margin-left: 0px;

}
/*END navigation CSS */

/* CSS to expand up images on rollover */
.expand {
float: left;
clear: none;
border: 1px solid #d12838;
}

.expand a { 
display:block;
text-decoration: none;
}

.expand a:hover{
position:relative;
}

.expand span img {
border: 1px solid black;
}

.expand a span {
position: absolute;
display:none;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 13px;
padding-left: 10px;
}

.expand img {
border-width: 0;
}

.expand a:hover span { 
display:block;
top: -90px; 
left: -200px;
z-index: 100;
}
/* END CSS to expand up images on rollover */

.title {
	font-size: 22pt;
	height: 50px;
	vertical-align: middle;
	width: 980px;
	border-width: 1px;
	float: left;
	order-bottom-color:#000; 
	border-bottom-width:2px; 
	border-bottom-style: solid;
}

.footer
{
	border-top:thin;
	border-top-style:solid;
	width:770px;
	font-size: 10pt;
	padding-top: 10px;
	line-height: 20px;
}
.writing
	{
		word-wrap:break-word;
		vertical-align: top;
		text-align:justify;
		text-wrap:normal;
		height: 500px;
		padding-top: 200px;		


	}